.table {
  tr {
    td {
      vertical-align : middle;
      text-align: center;
      img {
        width: 100px;
        height: 100px;
      }
      .wrap {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
    th {
      text-align: center;
    }
  }
}
