<mat-dialog-content>
  <h3 mat-dialog-title class="text-center">{{'form.order' | translate}}</h3>
  <div>
    <form [formGroup]="orderForms"
          (ngSubmit)="sendOrderForms()">
      <div class="form-group px-3">
        <div class="form-row">
          <mat-form-field class="col">
            <input matInput [placeholder]="'form.placeholder.name' | translate" [formControl]="name">
            <mat-error *ngIf="name.hasError('pattern') && name.dirty">
              {{'form.valid_name' | translate}}
            </mat-error>
            <mat-error *ngIf="name.hasError('required')">
              {{ 'form.required_name' | translate }}
            </mat-error>
            <mat-error *ngIf="name.hasError('incorrect')">
              {{name.errors['incorrect']}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col">
            <input matInput [placeholder]="'form.placeholder.phone' | translate" [formControl]="phone">
            <mat-error *ngIf="phone.hasError('pattern') && phone.dirty">
              {{'form.valid_phone' | translate}}
            </mat-error>
            <mat-error *ngIf="phone.hasError('required')">
              {{ 'form.required_phone' | translate }}
            </mat-error>
            <mat-error *ngIf="phone.hasError('incorrect')">
              {{phone.errors['incorrect']}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="col">
          <input matInput [placeholder]="'form.placeholder.address' | translate" [formControl]="address">
          <mat-error *ngIf="address.hasError('pattern') && address.dirty">
            {{ 'form.valid_address' | translate }}
          </mat-error>
          <mat-error *ngIf="address.hasError('required')">
            {{ 'form.required_address' | translate }}
          </mat-error>
          <mat-error *ngIf="address.hasError('incorrect')">
            {{address.errors['incorrect']}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <div class="form-check">
          <mat-radio-group class="d-block" [formControl]="shipping">
            <h5 class="font-italic">{{'form.shipping' | translate }} (300 {{ 'products.valuate' | translate}})</h5>
            <mat-radio-button value="1" color="primary">yes</mat-radio-button>
            <mat-radio-button class="ml-3" value="0"
                              color="primary">no
            </mat-radio-button>
          </mat-radio-group>
          <hr>
          <mat-radio-group class="d-block" [formControl]="payment">
            <h5 class="mb-3 font-italic">{{'form.payment' | translate }}</h5>
            <mat-radio-button value="card">{{'form.payment_card' | translate }}</mat-radio-button>
            <mat-radio-button color="primary" value="cash" class="ml-5">
              {{ +shipping.value
              ? ('form.payment_cash' | translate)
              : ('form.payment_cash_' | translate)}}
            </mat-radio-button>
            <div *ngIf="payment.value === 'card'">
              <ul class="nav mt-3 align-baseline">
                <li class="mx-3">
                  <div><img src="assets/images/elements/ameria.webp" height="52" alt="Ameria"></div>
                  <span class="font-10">{{ 'form.credit_card' | translate }}</span>
                </li>
                <li>
                  <div><img src="assets/images/elements/mobidram.webp" height="52" alt="Mobidram"></div>
                  <span class="font-10">{{'form.mobidram' | translate}}</span>
                </li>
                <li class="mx-3">
                  <div><img src="assets/images/elements/idram.webp" height="52" alt="Idram"></div>
                  <span class="font-10">{{'form.idram' | translate}}</span>
                </li>
              </ul>
            </div>
          </mat-radio-group>
          <hr>
          <div>
            <h5 class="font-italic">{{ 'form.order_price' | translate}}</h5>
            <table class="table table-borderless p-0">
              <tbody>
              <tr class="text-secondary">
                <td>{{'order.total_price' | translate }}</td>
                <td> {{data.price}} <span class="text-danger">{{ 'products.valuate' | translate}}</span></td>
              </tr>
              <tr *ngIf="+shipping.value" class="shipping text-secondary">
                <td>{{ 'form.shipping' | translate }}</td>
                <td>300 <span class="text-danger">{{ 'products.valuate' | translate}}</span></td>
              </tr>
              <hr>
              <tr>
                <th>{{'order.total_price' | translate }}</th>
                <th>{{ +shipping.value ? data.price + 300 : data.price }}
                  <span class="text-danger">{{'products.valuate' | translate}}
                  </span>
                </th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row ml-3 mt-5">
        <button type="submit" mat-raised-button color="primary">
          {{'form.btn.send' | translate}}
        </button>
        <div class="ml-5">
          <mat-progress-spinner
            *ngIf="spinner"
            [mode]="'indeterminate'" [diameter]="30">
          </mat-progress-spinner>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
  <button mat-button [mat-dialog-close]="true">{{'form.btn.close' | translate}}</button>
</mat-dialog-actions>
