<section class="menu-area section-gap mb-5" id="menu">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10 text-nowrap">{{ 'menu.title' | translate }}</h1>
          <p>{{ 'menu.desc' | translate }}</p>
        </div>
      </div>
    </div>

    <ul class="filter-wrap filters col-lg-12 no-padding"
        (click)="changeMenu($event.target)" #filters>
      <li data-filter="*" class="active">All Menu</li>
      <li *ngFor="let item of categories"
          [attr.data-filter]="item.id">
        {{item.name_en}}
      </li>
    </ul>

    <div class="filters-content">
      <div class="row grid">
        <div class="col-md-3 p-2" *ngFor="let product of productList"
             [@fadeInOut]="'show'">
          <app-products-card [product]="product"></app-products-card>
        </div>
      </div>
    </div>
  </div>
</section>
