<section class="banner-area">
  <div class="container fullscreen">
    <div class="row fullscreen align-items-center justify-content-between">
      <div class="col-lg-12 banner-content mt-5">
        <h6 class="text-white">{{ 'header.homePage.bannerText' | translate}}</h6>
        <h1 class="text-white">{{ 'header.homePage.recipes' | translate}}</h1>
        <p class="text-white">{{ 'header.homePage.bannerContent' | translate}}</p>
      </div>
    </div>
  </div>
</section>

<div [ngClass]="{'alert-danger': error}">
  <div *ngIf="!error" class="justify-content-center">
    <p class="text-center display-3">{{ 'home.title' | translate }}</p>
  </div>
  <div>
    <div class="row col-lg-9 mx-auto mb-5"
         *ngIf="restaurantsList, else spinner">
      <div class="col-10 col-md-6 col-lg-4 p-0" *ngFor="let restaurant of restaurantsList">
        <app-restaurant-card [restaurant]="restaurant"></app-restaurant-card>
      </div>
    </div>
    <ng-template #spinner>
      <div *ngIf="!error, else errorMessage" class="my-5 py-5 col-12 d-flex justify-content-center">
        <mat-progress-spinner
          [mode]="'indeterminate'" [diameter]="60">
        </mat-progress-spinner>
      </div>
    </ng-template>

    <ng-template #errorMessage>
      <div class="err-message display-4 text-center py-5">{{error.statusText}}</div>
    </ng-template>
  </div>
</div>
