<mat-dialog-content>
  <form [formGroup]="reservationForms"
        (ngSubmit)="submitReservationForm()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field class="">
          <input [placeholder]="'form.placeholder.name' | translate"
                 matInput [formControl]="name">
          <mat-error *ngIf="name.hasError('pattern') && name.dirty">
            {{'form.valid_name' | translate}}
          </mat-error>
          <mat-error *ngIf="name.hasError('required')">
            {{ 'form.required_name' | translate }}
          </mat-error>
          <mat-error *ngIf="name.hasError('incorrect')">
            {{name.errors['incorrect']}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field class="">
          <input matInput [formControl]="surname"
                 [placeholder]="'form.placeholder.surname' | translate">
          <mat-error *ngIf="surname.hasError('pattern') && surname.dirty">
            {{'form.valid_surname' | translate}}
          </mat-error>
          <mat-error *ngIf="surname.hasError('incorrect')">
            {{surname.errors['incorrect']}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field class="">
          <input matInput [formControl]="phone"
                 [placeholder]="'form.placeholder.phone' | translate">
          <mat-error *ngIf="phone.hasError('pattern') && phone.dirty">
            {{'form.valid_phone' | translate}}
          </mat-error>
          <mat-error *ngIf="phone.hasError('required')">
            {{'form.required_phone' | translate}}
          </mat-error>
          <mat-error *ngIf="phone.hasError('incorrect')">
            {{phone.errors['incorrect']}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field class="">
          <input matInput [formControl]="email"
                 [placeholder]="'form.placeholder.email' | translate">
          <mat-error *ngIf="email.hasError('pattern') && email.dirty">
            {{'form.valid_email' | translate}}
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            {{'form.required_email' | translate}}
          </mat-error>
          <mat-error *ngIf="email.hasError('incorrect')">
            {{email.errors['incorrect']}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row justify-content-around">
      <div class="form group col-md-6">
        <mat-form-field>
          <mat-select [formControl]="occasions"
                      [placeholder]="'form.placeholder.select_event' | translate">
            <mat-option *ngFor="let feast of celebrations" [value]="feast.value">{{feast.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="occasions.hasError('incorrect')">
            {{occasions.errors['incorrect']}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field>
          <textarea [formControl]="message" matInput rows="2"
                    [placeholder]="'form.placeholder.textarea' | translate">
          </textarea>
        </mat-form-field>
        <mat-error *ngIf="message.hasError('incorrect')">
          {{message.errors['incorrect']}}
        </mat-error>
      </div>
    </div>
    <div class="row ml-3">
      <button type="submit" mat-raised-button color="primary">
        {{ 'form.btn.reservation' | translate | uppercase }}
      </button>
      <div class="ml-5">
        <mat-progress-spinner *ngIf="spinner" [mode]="'indeterminate'" [diameter]="30"></mat-progress-spinner>
      </div>
    </div>
  </form>
</mat-dialog-content>
